* {
    margin: 0;
    padding: 0;
}

:root {
    --cor_primaria: #F2780C ;
    --cor_secundaria: #273440;
    --cor_terciaria: #FFFFFF
    
}

/* FONTES (INICIO)  */
.font {
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.font_2 {

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.strong {
    color: var(--cor_primaria);

}

.strong_2{
    color: var(--cor_terciaria);

}

/* FONTES (FIM)  */

.cabecalho {
    color: var(--cor_primaria);
}

.cabecalho:hover {
    color: var(--cor_terciaria);
}

/* CABECALHO RESPONSIVO COM bootstrap (INICIO) */
.margem_logo {
    margin: 0% 0% 0% 3%;
}

.cor_cabecalho {
    background-color: var(--cor_secundaria);
}

.gap_cabecalho {
    gap: 110px;

}

/* CABECALHO RESPONSIVO COM bootstrap (FIM) */
main {
    overflow-x: hidden;
}

body {

    overflow-x: hidden;
}

section {
    height: 100vh;
    width: 100vw;
}

/* BOTAO SCROLL PARA O TOPO COM JS (INICIO) */

.rodape {
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    background-color: var(--cor_primaria);
}

#scrollTopButton {
    background-color: var(--cor_primaria);
    border: solid;
    border-color: var(--cor_primaria);
    border-radius: 50%;
    color: var(--cor_secundaria);
    cursor: pointer;
    font-size: 20px;
    width: 70px;
    height: 70px;


    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    opacity: 0;
    transform: translateY(110px);
    transition: all 0.5s ease;
}

#scrollTopButton.showBtn {
    opacity: 1;
    transform: translate(0);
}

/* BOTAO SCROLL PARA O TOPO COM JS (FIM) */

#HOME {
    background-color: var(--cor_secundaria);
    border: none;
}

@media (min-width: 992px) {
    #HOME{
        border: none;
        height: 100vh;
        width: 100vw;
    }
}

@media (max-width: 576px) {
    #HOME{
        border: none;
        height: 120vh;
        width: 100vw;
        padding: 8% 0% 0% 0%;
    }
}

.conteudo_home {
    text-align: center;
    padding: 12% 6% 6% 5%;
}

.tam_texto_home {
    font-size: 25px;

}

.cor_font_home {
    color: var(--cor_terciaria);
     
}

.img_home {
    display: flex;
    justify-content: center;
    padding: 8% 4% 0% 4%;
}



/* BOTOES (INICIO) */

@media (min-width: 992px) {
    .margin-top-btn {
        margin-top: 2rem;
    }

    .margin-left-btn {
        margin-left: 2rem;
    }

    .width-height-btn {
        width: 500px;
        height: 70px;
    }

    .margin-right-font-txt {
        margin-right: 5rem;
        font-size: 30px;
    }

    .padding-btn_icons {
        padding-top: 20px;

    }
}

@media (max-width: 576px) {
    .width-height-btn_cell {
        width: 300px;
        height: 65px;
    }

    .font-txt_cell {
        font-size: 20px;
        margin-top: 120px;
    }

    .font-txt_cell_2 {
        margin-top: 10px;
    }

    .margin-bnt_cell {
        margin-top: 15px;
        margin-left: 8%;
    }

    .padding-btn_icons_cell {
        padding-top: 20px;

    }
}

.botoes_contato {
    display: flex;
    flex-direction: column;
    gap: 40px 0px;

}

.btn-cor {
    background-color: var(--cor_primaria);
}

/* BOTOES (FIM) */
#SOBRE {
    border: none;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor_secundaria);
}


.conteudo_sobre {
    text-align: center;
    padding: 8% 5% 6% 5%;
    color: var(--cor_terciaria);
}

.tam_texto_sobre {
    font-size: 25px;

}

.img_sobre {
    background-color: #273440;
    padding: 6% 0% 0% 3%;

}

@media (max-width: 576px) {
    .img_sobre{
        padding: 0% 0% 10% 0%;
    }
}

@media (min-width: 992px) {
    #OBJETIVO{
        height: 120vh;
        width: 100vw;
        margin: 5% 0% 0% 0%;
    }
}

@media (max-width: 576px) {
    #OBJETIVO{
        height: 270vh;
        width: 100vw;
        margin: 100% 0% 0% 0%;
    }
}

/* CARDS (INICIO)  */

.row2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 150px;
}

.padding_objetivo{
    padding: 0% 0% 0% 33%;
}

@media (max-width: 576px) {
    .padding_objetivo{
        padding: 0% 0% 0% 20%;
    }
}

.cor_cards {
    border: none;
    background-color: var(--cor_primaria);
    color: var(--cor_secundaria);
    height: 100%;
}

/* CARDS (FIM) */


@media (min-width: 992px) {
    #INSTAGRAM{
        height: 130vh;
        width: 100vw;
        margin: 5% 0% 0% 0%;
    }
}

@media (max-width: 576px) {
    #INSTAGRAM{
        height: 120vh;
        width: 100vw;
        margin: 100% 0% 0% 0%;
    }
}


@media (min-width: 992px) {
    .img_insta{
        padding: 18% 0% 00% 10%;
    }
}

@media (max-width: 576px) {
    .img_insta{
        padding: 15% 10% 0% 10%;
    }
}

.cor_font_insta {
    color: var(--cor_secundaria);
     
}

#CONTATO {
    height: 140vh;
    width: 100vw;
    background-color: #273440;


}

.cor_font_contato {
    color: var(--cor_terciaria);
     
}

@media (min-width: 992px) {
    .img_rodape{
        padding: 15% 4% 0% 4%;
    }
}

@media (max-width: 576px) {
    .img_rodape{
        padding: 15% 0% 0% 2%;
    }
}
@media (max-width: 576px) {
    .width-height-btn_cell_rodape {
        width: 340x;
        height: 65px;
        padding: 6% 0% 0% 0%;
        font-size: 13px;
        
        
    }
    .padding-btn_cell{
        padding: 0% 6% 0% 0%;;
    }

}
/* RODAPÉ  */

.scroll-link {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    bottom: 10px;
    left: 10px;


}

.scroll-link.show {
    opacity: 1;
}

.rodape{
    background-color: var(--cor_secundaria);
    color: var(--cor_terciaria);
    display: flex;
    justify-content: center;
    text-align: center;
}
/* ANIMAÇÃO COM JS (INICIO)  */

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    transition: all 0.8s ease-in-out;
}


.show{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0%);
}


.cards :nth-child(1){
    transition-delay: 450ms;
}

.cards :nth-child(2){
    transition-delay: 350ms;
}

.cards :nth-child(3){
    transition-delay: 150ms;
}

/* ANIMAÇÃO COM JS (Fim)  */